@import "@/styles/vars.scss";

.body {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 10px;

  &.normal {
    .logotype {
      font-size: 32px;
      color: $primary-color;
    }

    .company-name {
      font-weight: 500;
      font-size: 20px;
    }
  }

  &.large {
    .logotype {
      font-size: 35px;
      color: $primary-color;
    }

    .company-name {
      font-weight: 500;
      font-size: 30px;
    }
  }
}
