.title {
  font-weight: 600 !important;
  font-size: 30px !important;
}

.image {
  background-image: url("/pixel-clouds.webp");
  width: 450px;
}

.form-wrapper {
  box-sizing: border-box;
  width: 450px;
  padding: 30px;
}
