.title {
  font-weight: 600 !important;
  font-size: 30px !important;
  margin: 0 !important;
}

.image {
  background-image: url("/pixel-clouds.webp");
  width: 500px;
  border-radius: 10px 0 0 0 10px;
}

.form-wrapper {
  box-sizing: border-box;
  width: 500px;
  padding: 30px;
}
