.normal {
  .logotype {
    font-size: 32px;
  }

  .company-name {
    font-weight: 500;
    font-size: 20px;
  }
}

.large {
  .logotype {
    font-size: 35px;
  }

  .company-name {
    font-weight: 500;
    font-size: 30px;
  }
}
