.document {
  margin: 80px 0;
  width: 800px;
  padding: 30px;
}

.title {
  font-size: 32px !important;
  font-weight: 500 !important;
  margin: 0 !important;
}

.text {
  font-size: 20px;
  white-space: pre-line;
}
